.main-attendees-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  margin: 7px auto 60px;

  .frame {
    width: fit-content;
    margin-right: 30px;
  }

  .center {
    overflow: hidden;
    background: linear-gradient(to bottom, $bkg1, $bkg2, $bkg3);

    // box-shadow: 5px 5px 5px 0 rgba($clr3, 0.3);
  }
}

.card-simple-attendees{
  background: linear-gradient(to bottom, #eeeeee, #faf8f9, #ffffff);
  height: 10rem;
}
.profile {
  text-align: center;
  margin: 10px 20px 0px 20px;
  text-transform: capitalize;

  .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 10px auto 10px auto;

    .circle-1 {
      position: absolute;
      width: 76px;
      height: 76px;
      top: -3px;
      left: -3px;
      border-width: 1px;
      border-style: solid;
      border-color: $clr4 $clr5 $clr4 transparent;
      border-radius: 50%;
      transition: all 1.5s ease-in-out;
    }

    .circle-2 {
      @extend .circle-1;
      width: 82px;
      height: 82px;
      top: -6px;
      left: -6px;
      border-color: $clr4 transparent $clr5 $clr4;
    }

    img {
      border-radius: 50%;
    }

    &:hover {
      cursor: pointer;
      .circle-1 {
        transform: rotate(360deg);
      }
      .circle-2 {
        transform: rotate(-360deg);
      }
    }
  }

  .name {
    letter-spacing: 2px;
    word-spacing: 3px;
  }

  .address {
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 10px;
  }

  .actions {
    .btn {
      padding: 0px 10px;
      margin: 0 auto 10px auto;
      border: 1px solid $clr4;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      color: $clr4;

      &:hover {
        background: $clr4;
        color: $clr2;
      }
    }
  }
}
