.category-cards {
  margin: 0 rem(50px) rem(50px);

  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem;
}

.category-card {
  background-color: $clr2;
  border: 1px solid #deb200;
  display: grid;
  grid-template-columns: repeat(2,  1fr);
  grid-row-gap: 1rem;
  // width: 22rem;
  & .card-img {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    object-fit: cover;
  }
  .super-host-preview {
    position: absolute;
    top: 10px;
    left: 10px;
    // background: $clr6;
    background: #ff0000;
    padding: 1px 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
  }

  .super-host-preview {
    position: absolute;
    top: 10px;
    left: 10px;
    // background: $clr6;
    background: #ff0000;
    padding: 1px 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
  }

  & .card-name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: oswald, 'sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    background-color: #d53807;
    color: $clr2;
    transform: translateY(50%);

    &:hover {
      background-color: #8b2505;
    }
  }

  & .card-total-one {
    margin-top: 20px;
  }

  & .card-total-one,
  & .card-hosted,
  & .card-next-date,
  & .card-avg-price {
    grid-column: 1 / -1;

    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
    display: flex;
    align-items: center;

    img {
      color: $clr4;
      height: 2rem;
      width: 2rem;
      margin-right: 10px;
    }

    .title {
      // font-weight: normal;
    }

    small {
      font-size: 0.6rem;
    }
  }
  & .card-btn {
    grid-column: 1 / -1;
    background-color: #ffc866;
    border-radius: 0;
    border: none;
    color: $clr2;
    cursor: pointer;
    transition: all 0.2s;
    grid-column: 1 / -1;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      font-family: oswald, 'sans-serif';
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      word-spacing: 5px;
      color: #111111;
      cursor: pointer;
      transition: all 0.2s;
    }

    &:hover {
      background-color: lighten(#ffe991, 0.5%);
      color: #111111;
    }
    // background-color: darken($clr8, 20%);
    //color: $clr2;
  }
}

// .category-cards {
//   margin: 0 rem(50px) rem(50px);

//   grid-column: center-start / center-end;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
//   grid-gap: 5rem;
// }

// .category-card {
//   background-color: $clr2;

//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-row-gap: 1rem;

//   & .card-img {
//     grid-row: 1 / 2;
//     grid-column: 1 / -1;
//     z-index: 1;
//     object-fit: cover;
//   }

//   & .card-name {
//     grid-row: 1 / 2;
//     grid-column: 1 / -1;
//     justify-self: center;
//     align-self: end;
//     z-index: 3;

//     width: 80%;
//     font-family: oswald, 'sans-serif';
//     font-size: 1.6rem;
//     font-weight: 400;
//     text-align: center;
//     background-color: $clr4;
//     color: $clr2;
//     transform: translateY(50%);
//   }

//   & .card-total-one {
//     margin-top: 20px;
//   }

//   & .card-total-one,
//   & .card-hosted,
//   & .card-next-date,
//   & .card-avg-price {
//     grid-column: 1 / -1;

//     font-size: 1rem;
//     font-weight: 700;
//     margin-left: 10px;
//     display: flex;
//     align-items: center;

//     img {
//       color: $clr4;
//       height: 2rem;
//       width: 2rem;
//       margin-right: 10px;
//     }

//     .title {
//       // font-weight: normal;
//     }

//     small {
//       font-size: 0.6rem;
//     }
//   }

//   & .card-btn {
//     grid-column: 1 / -1;
//     background-color: opacify($clr8, 0.5);
//     border-radius: 0;
//     border: none;
//     color: $clr2;
//     cursor: pointer;
//     transition: all 0.2s;

//     .btn {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       margin: 10px;
//       font-family: oswald, 'sans-serif';
//       font-size: 1.1rem;
//       text-transform: uppercase;
//       letter-spacing: 3px;
//       word-spacing: 5px;
//     }

//     &:hover {
//       background-color: darken($clr8, 20%);
//       color: $clr2;
//     }
//   }
// }
