.category-cards {
  margin: 0 rem(50px) rem(50px);
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5rem;
}

.category-card {
  background-color: $clr2;
  border: 1px solid $crd2;
  display: grid;
  grid-template-columns: repeat(2, minmax(9rem, 1fr));
  grid-row-gap: 1rem;
  min-width: 18rem;

  .img-wrapper {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    max-width: 100%;
    height: 17rem;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & .card-name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: raleway, lato, 'sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    background-color: $crd3;
    color: $clr2;
    transform: translateY(50%);

    &:hover {
      background-color: $crd4;
    }
  }

  & .card-total-one {
    margin-top: 20px;
  }

  & .card-total-one,
  & .card-hosted,
  & .card-next-date,
  & .card-avg-price {
    grid-column: 1 / -1;

    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      color: $clr4;
      height: 2rem;
      width: 2rem;
      margin-right: 10px;
    }
  }

  & .card-btn {
    grid-column: 1 / -1;
    background-color: $crd1;
    border-radius: 0;
    border: none;
    color: $clr2;
    cursor: pointer;
    transition: all 0.2s;
    grid-column: 1 / -1;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      font-family: raleway, lato, 'sans-serif';
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      word-spacing: 5px;
      color: $clr3;
      cursor: pointer;
      transition: all 0.2s;
    }

    &:hover {
      background-color: lighten($crd5, 0.5%);
      color: $clr3;
    }
  }
}

.category-card-sm {
  background-color: $clr2;
  border: 1px solid $crd3;

  img {
    object-fit: cover;
    min-width: 12rem;
    height: auto;
  }

  & .card-name {
    font-family: raleway, lato, 'sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    background-color: $crd3;
    color: $clr2;
  }
}
