.main-filter-container {
  .right-box {
    padding-left: 20px;
    border-left: 3px solid $clr6;
  }

  .input-wrapper {
    margin-bottom: 20px;
  }

  .radio-container {
    margin: 10px 10px 10px 0px;
  }

  .radio-container label:not(:last-child) {
    margin-right: 10px;
  }
}
