.footer-container {
  max-width: 100vw;
  height: 65px;
  margin-top: 20px;
  background-color: $clr1;
  // position: fixed;
  bottom: 0;
  z-index: 1;

}

.footer-container .small {
  margin-bottom: 2rem;
}
