.footer-container {
  width: 100vw;
  height: 65px;
  // margin-top: 20px;
  background-color: $clr1;
  // position: fixed;
  // bottom: 0;

  // clear: both;
  // position: relative;
  // height: 100px;
  // margin-top: -200px;

  position: absolute;
  //right: 0;
  bottom: 0;
  //left: 0;
  padding: 1rem;
  text-align: center;
}

.footer-container .small {
  margin-bottom: 2rem;
}
