.gallery {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(1, 40vh);

  .gallery-item {
    width: 100%;
    margin: 0;
    overflow: hidden;
    // background-color: #ffffff;

    & > img {
      width: 100%;
      height: 100%;
      transform: scale(1.15);
      object-fit: cover;
      background-color: #ffffff;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.03);
        filter: saturate(150%);
      }
    }
  }
}
