.gallery {
  margin: 20px 0;
  /*  */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
  transition: all 0.3s ease-in-out;

  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(1, 35vh);
  justify-content: center;

  .gallery-item {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, $bkg1, $bkg2, $bkg3);

    & > img {
      object-fit: cover;
      width: 95%;
      height: 96%;
      margin: 1px;
      display: block;
      position: relative;
      border: 1px solid $clr4;
      padding: 5px;

      &:hover {
        transform: scale(1.18);
        filter: saturate(150%);
      }
    }
  }
}
@media screen and (max-width: $narrow-breakpoint){
  .gallery {
    margin: 10px 10px;
    /*  */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
    transition: all 0.3s ease-in-out;
  
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, 35vh);
    justify-content: center;  
    .gallery-item {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background: linear-gradient(to bottom, $bkg1, $bkg2, $bkg3);
  
      & > img {
        object-fit: cover;
        width: 95%;
        height: 96%;
        margin: 1px;
        display: block;
        position: relative;
        border: 1px solid $clr4;
        padding: 5px;
  
        &:hover {
          transform: scale(1.03);
          filter: saturate(150%);
        }
      }
    }
  }
}
@media screen and (max-width: $mobile-breakpoint){
  .gallery {
    margin: 10px 10px;
    /*  */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
    transition: all 0.3s ease-in-out;
  
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, 35vh);
    justify-content: center;  
    .gallery-item {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background: linear-gradient(to bottom, $bkg1, $bkg2, $bkg3);
  
      & > img {
        object-fit: cover;
        width: 95%;
        height: 96%;
        margin: 1px;
        display: block;
        position: relative;
        border: 1px solid $clr4;
        padding: 5px;
  
        &:hover {
          transform: scale(1.03);
          filter: saturate(150%);
        }
      }
    }
  }
}