.main-header-container {
  max-width: 100vw;
  height: 100px;
  margin: 0px 30px 30px 30px;
  //   margin-bottom: 30px;
  border-bottom: 1px solid $clr3;

  .header-logo {
    font-size: 2.875rem;
    color: $clr3;
  }

  .main-menu {
    width: 100%;
    height: 100%;

    & > *:not(:first-child) {
      margin-left: 100px;
    }

    & * a {
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      border: 1px solid transparent;
      transition: color 0.3s ease;
      cursor: pointer;
    }

    & * a:hover {
      color: $clr3;
      border-bottom: 2px solid $clr3;
    }
  }

  .header-controls {
    padding-right: 10px;

    & > div a {
      cursor: pointer;
    }

    & > div:first-child {
      margin-right: 10px;
    }

    & > div:last-child {
      margin-left: 10px;
    }
  }
}
