.main-header-container {
  max-width: 100vw;
  background-color: $clr1;

  .logo {
    & * span {
      font-family: righteous;
      font-size: 3rem;
      letter-spacing: 2px;
    }
  }
  .nav-container {
    padding-top: 10px;

    .controls {
      font-family: raleway-bold;

      & > div:not(:first-child) a {
        letter-spacing: 0.3rem;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease;
      }

      & > div:not(:first-child) a:hover {
        border-bottom: 1px solid $clr3;
      }
    }
  }
}
