.menu-main-container {
  margin: 7px auto 60px;
  .menu-container {
    padding: 20px;

    .main-title {
      display: flex;
      justify-content: center;
      align-items: center;

      & h3 {
        font-family: caviar_dreams_bold, sans-serif;
        margin: 10px 0;
        padding: 10px 15px;
        text-align: Center;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: darken($clr1, 15%);
      }
    }
  }

  .menu-section {
    margin-bottom: 20px;

    & h3 {
      font-family: caviar_dreams_bold, sans-serif;
      margin: 10px 0;
      padding: 10px 15px;
      text-align: Center;
      font-size: 1.2rem;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: darken($clr1, 15%);
    }

    & div {
      font-family: josefinSans, sans-serif;
      font-size: 1.2rem;
      text-align: Center;
      line-height: 1.8rem;
      margin: 15px 0;
    }
  }
}
