.main-form-container {
  margin-bottom: 120px;

  .menu-main-container .menu-section div {
    margin: 0;
  }

  .event-info-container * input {
    width: 100%;
    margin-bottom: 20px;
  }

  .event-info-container * textarea {
    width: 100%;
    margin-bottom: 20px;
  }

  .event-menu-container {
    margin-bottom: 20px;

    .menu-container {
      width: 80%;

      .menu-item {
        width: 80%;
      }

      & * input {
        width: 80%;
      }
    }
    .course-title-wrapper > h3 {
      margin-right: 30px;
    }
  }
}

.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;

  div {
    height: 200px;
    margin: 10px;
    position: relative;
    i {
      color: black;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      visibility: hidden;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  div:before {
    content: "";
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    top: 0;
    transition: height 0.5s ease-out;
    background: linear-gradient(to top, transparent 0%, rgb(255, 255, 255) 150%);
  }
  div:hover:before {
    height: 40%;
  }
  div:hover {
    i {
      visibility: visible;
    }
  }
}

.input-date {
  text-align: left;
}

.occurrence-date {
  border: 1px solid black;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  width: 7.7rem;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  i {
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    right: 0;
    top: 7px;
  }
}

.icon-larger {
  font-size: 2rem;
  margin-top: 1px;
}

.menu-list-courses {
  display: flex;
  justify-content: center;
  align-items: baseline;
  i{
    cursor: pointer;
    font-size: 1.1rem;
  }
}

.occurrence-list {
  grid-template-columns: repeat(3, 1fr);
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  // border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.preview-image {
  width: 200px;
  height: auto;
}
