.meal-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.meal-card {
  // display: flex;
  // width: 250px;
  // height: 340;
  // flex-direction: column;
  // // break-inside: avoid-column;
  // position: relative;
  // margin: 5px;
  // // padding: 3px;
  // cursor: pointer;
  position: relative;
  /* margin: 5px; */
  cursor: pointer;

  .item {
    display: inline-block;

    height: calc(100% + 180px);
    // break-inside: avoid;
    background: #fff;
    // padding: 1em;
    // margin: 0 0 1.5em;
    // margin: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;

    .img-meal {
      height: 350px;
      object-fit: cover;
    }
    .card-main-msg {
      font-weight: bold;
      font-size: 1.2rem;
      .star {
        font-size: 1rem;
      }
    }
  }
  .user-img {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
  }
  .text-card {
    padding: 5px;
    font-size: 1rem;
  }
  .start {
    font-size: 10px;
  }

  .category {
    position: absolute;
    top: 10px;
    left: 10px;
    // background: $clr6;
    background: #ff0000;
    padding: 1px 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    .price-tag {
      position: absolute;
      bottom: 0px;
      right: 20px;
    }
    .description-tag {
      // height: 40%;
      height: 150px;

      // flex-grow: 1 ;
      text-overflow: ellipsis;
    }
  }
  .text-description-tag {
    height: 120px;
  }
}
.price-tag {
  font-weight: bold;
  font-size: 1.1rem;
}
// .note-list-container {

//     column-gap: 1em;
//     margin: 1.5em;
//     padding: 0;
//     column-gap: 1.5em;
//     font-size: 0.85em;
//   }
