.menu-main-container {
  margin: 7px auto 40px;
  .menu-container {
    padding: 20px;
  }

  .menu-section {
    margin-bottom: 20px;

    & h3 {
      font-family: raleway-bold;
      margin: 10px 0;
      padding: 10px 15px;
      text-align: Center;
      font-size: 1.4rem;
      letter-spacing: 5px;
      word-spacing: 3px;
    }

    & div {
      margin: 15px 0;
      font-variant: small-caps;
      font-size: 1rem;
      text-align: Center;
      letter-spacing: 2px;
    }
  }
}
