.main-review-form-container {
  background: linear-gradient(to bottom, $bkg1, $bkg2, $bkg3);
  padding: 20px;

  & > h4 {
    font-size: 0.75rem;
    font-family: raleway, lato, 'sans-serif';
  }

  .review-form {
    margin-bottom: 20px;

    & > h3 {
      font-size: 1rem;
      text-align: center;
      font-family: raleway, lato, 'sans-serif';
    }
    & > h3:first-of-type {
      margin-bottom: 15px;
    }

    & .rating > i {
      margin-left: 10px;
    }

    & .email {
      width: 100%;
      margin-bottom: 20px;

      & input {
        width: 100%;
      }
    }

    & .review {
      width: 100%;
      margin-bottom: 20px;

      & textarea {
        width: 100%;
      }
    }

    & .save {
      width: 100%;

      & button {
        width: 25%;
      }
    }
  }
}
