.icon-small {
  font-size: 0.7rem;
  vertical-align: middle;
  padding: 0px 3px 5px 0px;
}

.icon-medium {
  font-size: 1rem;
}

.icon-large {
  font-size: 1.5rem;
}

.color-gray {
  color: $clr3;
}

.color-yellow {
  color: $starColor;
}
.color-green {
  color: $clr5;
}
