.main-site-container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  position: relative;
  min-height: 100vh;
  margin-bottom: 25px;
}

// .container {
//   margin: 0 auto;
//   padding-left: 10px;
//   padding-right: 10px;
//   @include for-narrow-layout {
//     // max-width: $mobile-breakpoint;
//     max-width: $narrow-breakpoint;
//   }

//   @include for-normal-layout {
//     // max-width: $narrow-breakpoint;
//     max-width: $normal-breakpoint;
//   }

//   @include for-wide-layout {
//     // max-width: $normal-breakpoint;
//     max-width: $wide-breakpoint;
//   }

//   @include for-extra-wide-layout {
//     max-width: $wide-breakpoint;
//   }
// }


// $mobile-breakpoint-small: 350px;
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;
// $wide-breakpoint: 1100px;

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include for-mobile-layout {
    max-width: $mobile-breakpoint-small;
  }
  @include for-narrow-layout {
    max-width: $mobile-breakpoint;
  }

  @include for-normal-layout {
    max-width: $narrow-breakpoint;
  }

  @include for-wide-layout {
    max-width: $normal-breakpoint;
  }

  @include for-extra-wide-layout {
    max-width: $wide-breakpoint;
  }
}

