.underline-link,
.underline-link:visited {
  text-decoration: none;
  position: relative;
  color: $clr4;

  &:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: $clr4;
    transition: 0.2s easy;
  }

  &:hover:after {
    width: 100%;
  }

  &.block {
    display: block;
    padding: 0.5em;

    &:hover {
      background: $clr2;
    }
  }
}
