@font-face {
  font-family: lato;
  src: url(../../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: raleway;
  src: url(../../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(../../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
  font-family: ptserif-italic;
  src: url(../../fonts/PTSerif/PTSerif-Italic.ttf);
}

@font-face {
  font-family: ptserif_caption;
  src: url(../../fonts/PTSerif/PTSerifCaption-Regular.ttf);
}

@font-face {
  font-family: righteous;
  src: url(../../fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: caviar_dreams_bold;
  src: url(../../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf);
}

@font-face {
  font-family: josefinSans;
  src: url(../../fonts/JosefinSans/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: limelight;
  src: url(../../fonts/Limelight/Limelight-Regular.ttf);
}
