.meal-details-page-container {
  .meal-details-container {
    & * h3 {
      font-family: raleway-bold;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .left-box {
      margin-right: 30px;
      height: 100%;

      .nav-container {
        margin: 30px 0;

        .top-box {
          margin-bottom: 10px;
          & > a {
            background-color: $clr2;
            margin-right: 30px;
            padding: 10px 20px;
            font-family: raleway-bold;
            font-size: 1.2rem;
            letter-spacing: 3px;
            word-spacing: 5px;
            transition: all 0.2s;
          }
          & a:hover {
            background-color: $clr7; //$clr6;
          }
        }

        .bottom-box > div {
          margin: 10px 25px 20px 0px;
          text-transform: capitalize;
          font-weight: bolder;
          letter-spacing: 1px;
          word-spacing: 2px;
          line-height: normal;
          vertical-align: text-bottom;
        }
      }

      .reviews-title-wrapper {
        display: inline-flex;

        & > h3 {
          margin-right: 20px;
        }
      }

      .main-reviews-container {
        margin-bottom: 40px;
      }
    }

    .right-box {
      height: 100%;
      position: sticky;
      top: 0;

      .payment-container {
        margin: 30px 0 20px 0;
        .price {
          margin-bottom: 10px;
          font-family: raleway-bold;
          font-size: 120%;
          font-weight: normal;
          letter-spacing: 3px;
          word-spacing: 5px;
        }

        .details-container {
          display: flex;
          flex-direction: column;
          padding: 10px 20px 30px 20px;

          & > div:first-child {
            margin-top: 10px;
          }

          & > div label {
            margin-bottom: 10px;
          }

          & > div {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            text-transform: capitalize;
            color: $clr4;
            font-weight: bolder;
            letter-spacing: 1px;
            word-spacing: 2px;
            line-height: normal;
            vertical-align: text-bottom;
          }

          .selected-date {
            background-color: $clr5;
          }

          .payment ul {
            display: flex;
            flex-direction: column;
          }
          & ul > li {
            margin: 10px 0px 20px 0px;
            padding-bottom: 10px;
            border-bottom: 1px solid $clr4;
            font-weight: normal;
            display: flex;
            justify-content: space-between;
          }
          & ul > li > span:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}
