.MuiPickersBasePicker-container {
    display: flex;
    justify-content: center;
  }
  .user-img-profile{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
}

.user-details-container {
  margin-top: 50px;

  .user-container {
    margin-bottom: 20px;
    & > span {
      font-family: raleway-bold;
      font-size: 1.3rem;
      letter-spacing: 2px;
      word-spacing: 3px;
    }
    & > span:last-child {
      color: $clr8;
    }
  }

  .controlls-container * span {
    text-transform: uppercase;
    font-family: raleway-bold;
    font-size: 1.5em;
    letter-spacing: 5px;
  }

  .preview-title {
    margin-top: 20px;
    font-family: raleway-bold;
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
}

.google-map-container{
  height: 50vh;
  width: 60vw;
  clear: both;
  position: relative;
  

}
