// Colors
$clr1: #f4f7f9;
$clr2: #58595b;
$clr3: #2d4b08;
$clr4: #a3c777;
$clr5: #eff3cf;
$clr6: #ffb938;
$clr7: #fd7d48;
$clr8: #5b280e;

$basicClr1: #ffffff;
$basicClr2: #111111;
$basicClr3: #58595b;
$basicClr4: #c0c0c0;
$basicClr5: #e6e6e6;
$basicClr6: #193a4d;
$basicClr7: #92b0b3;

//stars
$starColor: #f0c96a;
$starShadow: #c08036;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1100px;
