// Colors
$clr1: #F4F7F9;
$clr2: #58595B;
$clr3: #2d4b08;
$clr4: #a3c777;
$clr5: #eff3cf;
$clr6: #ffb938;
$clr7: #fd7d48;
$clr8: #5b280e;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1100px;