// Colors
$clr1: #f8b500;
$clr2: #ffffff;
$clr3: #111111;
$clr4: #797979;
$clr5: #c0c0c0;
$clr6: #e6e6e6;
$clr7: #ffdf5f;
$clr8: #d53807;
$clr9: #e7e6e6;

$clrCard: #ffdf5f0d;

//stars
$starColor: #f0c96a;
$starShadow: #c08036;

//backgrounds:
$bkg1: #eeeeee;
$bkg2: #faf8f9;
$bkg3: #ffffff;

$bkg4: #f8b500;
$bkg5: #fceabb;

$crd1: #ffc866;
$crd2: #deb200;
$crd3: #d53807;
$crd4: #8b2505;
$crd5: #ffe991;

// Breakpoints
$mobile-breakpoint-small: 350px;
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1100px;

/*

original color
#ffd012;




#7D7D80
#A0A0A2
#85817C
#F4F4F4
#3D3D41
#F4F4F4
#020203
#3C414D
#1F1F1F
#FF4F39

#c59e00
#deb200
#f8c600
#ffd012
#ffd52c
#ffda45
#ffdf5f


#ebc614 
#f6d414 
#f7e012

*/
