.user-Img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.meal-card {
    cursor: pointer;
}
.menu-containner{
    width: 150px;
    background: aliceblue;
    text-align: center;
    border-radius: 5px;
    border-style: double;
}

.review-container{
    border-style: double;
    background-color: antiquewhite;
}